<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-900 text-white min-h-screen flex flex-col items-center p-4">
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back to Home</a>
        <form action="/edit" method="POST" class="w-full max-w-2xl space-y-4">
            <input type="text" name="previousName"
                class="w-full p-3 bg-gray-800 rounded text-white placeholder-gray-500 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                value="<%= fileName %>">
            <input type="text" name="newName" placeholder="New file name..."
                class="w-full p-3 bg-gray-800 rounded text-white placeholder-gray-500 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                required>
            <input type="submit"
                class="mx-auto block bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded transition"
                value="Edit fileName">
        </form>
    </div>
</body>

</html>